html, body {
    height: 200%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.navcontainer {
    background-color: #1a1a1a;
    width: 100%;
    height: 100px;
}

nav {
    background-color: #1a1a1a;
    width: 100%;
    height: 70px;
    padding: 8px;
    position: fixed;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: #fff;
} 

nav a:hover{
    color: 	#e6e6e6;
}

nav ul {
    line-height: 40px;
}

nav ul li{
    display: inline;
    float: left;
    margin: 5px;
}

nav ul{
    float: left;
}

nav p {
    float: left;
    font-size: 40px;
    line-height: 0px;
}

.homepage{
    min-height: 1080px;
    background-image: url(background%20image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#homepageTxt{
    color: #fff;
    position: absolute;
    top: 44%;
    left: 47.9%;
    text-align: center;
}
#homepageButton{
    background-color: #79d279;
    height: 32px;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 47%;
    text-align: center;
    line-height: 30px;
}

#homepageButton img{
    height: 16px;
}

#homepageButton:hover{
    background-color: aqua;
    cursor: pointer;
}

#scrollElement{
    position: absolute;
    top: 1100px;
}

.content{
    text-align: center;
}

.content{
    margin: 0px;
}